extends layout

block content
	h1= title
	p A school project involving a jQuery front end and a NodeJS backend with a REST api. Users can submit images, which are sorted by popularity and displayed in a masonry stuctured image gallery.
	p This project uses live.js to automatically reload the page whenever the source files are changed.
