doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/layout.css')
		link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css')
		link(rel='stylesheet', href='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/ui-lightness/jquery-ui.css')
		//script(src='/javascripts/live.js')
		block stylesheets
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js')
		script(src='/javascripts/jquery.isotope.min.js')
		script(src='/javascripts/sprintf.js')
		script(src='/javascripts/picpost.js')
	body
		.wrapper
			nav#site
				a(href='/') browse
				a(href='/upload') upload
		block controls
		h1= title
		block content
