doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/layout.css')
		link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css')
		link(rel='stylesheet', href='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/ui-lightness/jquery-ui.css')
		//script(src='/javascripts/live.js')
		block stylesheets
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js')
		script(src='/javascripts/jquery.isotope.min.js')
		script(src='/javascripts/sprintf.js')
		script(src='/javascripts/picpost.js')
	body
		.wrapper
			h1= title
			nav#site
				a(href='/') browse
				a(href='/upload') upload
		block controls
		block content
		footer.wrapper
			p This is a demonstration of the <a href='http://isotope.metafizzy.co/'>Isotope</a> layout engine. Images were gathered from around the internet, and are assumed to be in the public domain. This <a href='https://github.com/d4goxn/picpost'>project</a> &#9426; <a href='abstractgoo.af.rs.cm'>Dan Ross</a> under the <a href='http://www.gnu.org/licenses/gpl-2.0.html'>GPL v2</a> license.
