extends layout

block content
	h1= title
	form#upload-form(action='/upload', method='post', enctype='multipart/form-data')
		input(name='title', placeholder='Title', type='text')
		textarea(name='description', placeholder='Description')
		input(name='image', type='file')
		button(type='submit') Post
