#gallery {
	background-color: #000;
}

	.gallery-item {
		float: left;
		max-width: 200px;
	}

	.gallery-item.selected {
			max-width: 100%;
	}

    .gallery-item.selected > .title, .gallery-item.selected > .description {
      display: block;
    }

		.gallery-item:not(.selected) > .title, .gallery-item:not(.selected) > .description {
			display: none;
		}

		.gallery-item img.gallery-image {
			max-width: 100%;
		}

		.gallery-item.selected .large {
			display: block;
		}

    .gallery-item.selected .thumbnail {
      display: none;
    }

    .gallery-item:not(.selected) .large {
      display: none;
    }

    .gallery-item:not(.selected) .thumbnail {
      display: block;
    }