body {
	margin: 0;
}

@media only screen and (min-width: 500px) {
	.wrapper {
		margin-left: 5em;
	}

	h1 {
		position: absolute;
		top: 6em;
		left: .5em;
		text-align: right;
		-webkit-transform-origin: left top;
		-webkit-transform: rotate(-90deg);
	}
}

@media only screen and (max-width: 499px) {
	/* butbutbut... What about 499.5px? */
	h1 {
		font-size: 1.1em;
		margin: 0;
	}

	h2 {
		font-size: 1em;
	}
}

	.centered {
		margin: 0 auto;
	}

	.floatfix:after {
		content: "\a0 "; /* non breaking space in unicode */
		display: table;
		clear: both;
	}

	.left {
		float: left;
	}

	.clear {
		clear: both;
	}

	.hidden {
		display: none;
	}

	nav {
		margin: .25em 0;
	}

		nav > * {
			margin: .25em;
		}

	#status {
		margin: 1em 0;
		padding: 1em;
	}

	article {
		display: block;
	}

	footer {
		margin-top: 100px;
	}
